
* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
}

body {
	background: whitesmoke;
	 font-family: poppins;

}
nav
{
  background: black;
  height: 60px;
}
.navbar-nav a {
	font-family: poppins;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-nav {
	text-align: center;
	 background: black;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.nav-link.active, .nav-link .home:focus {
	color: red;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.5;
	background: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color:red;
       text-decoration: underline ;
}
.w-100 {
	height: 100vh;
}
i
{
	color:red;
}
.fa-home
{
    font-size: 41px;
}
.i1{color: white;}
.fa-phone,.fa-map-marker ,.fa-envelope
{
	color: white;
}
header {
	text-align: center;
	margin-bottom: 1rem;
	margin-top: 5rem;
	color: red;
	font-size: 40px;
}

.container {
	position: relative;
	/*width: 80%;*/
	column-count: 4;
	margin: 0 auto;
	padding: 20px;
}

.grid-item  {
	display: inline-block;
	margin-bottom: 10px;
	overflow: hidden;
}
img
{
	width: 100%;
	transition: 0.25s ease-in-out;
}
.grid-item img:hover{
	transform: scale(1.1);
}
.grid-item:hover h1
{
	opacity: 0.5;
}

@media  screen and (max-width:1024px) {
	h1
	{
		font-size: 20px;
	}
}

@media  screen and (max-width: 768px) {
	.container {
		column-count: 3;
	}
}
	
@media  screen and (max-width: 425px) {
	.container {
		column-count: 2;
	}
	h1
	{
		font-size: 12px;
	}
}
@media  screen and (max-width: 375px) {
	.container {
		column-count: 1;
	}
	h1
	{
		font-size: 15px;
	}
}

footer
	{
		position: relative;
		width: 100%;
		height: auto;
		padding: 10px 100px;
		background: #111;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	footer .container
	{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: row;
	}
	footer .container .sec
	{
		margin-right: 30px;
	}
	footer .container .sec.aboutus
	{
		width: 40%;
	}
	footer .container  h2
	{
		position: relative;
		color: #fff;
		font-weight: 500;
		margin-bottom: 15px;
	}
	footer .container  h2:before
	{
		content: '';
		position: absolute;
		bottom: -5px;
		left: 0;
		width: 50px;
		height: 2px;
		background:#f00;
	}
	footer .container p
	{
		color: #999;
	}
	.sci
	{
		margin-top: 20px;
		display: flex;
	}
	.sci li
	{
		list-style: none;
	}
	.sci li a
	{
		display: inline-block;
		width: 40px;
		height: 40px;
		background: #222;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 10px;
		text-decoration: none;
	  border-radius: 4px;
	}
	.sci li a:hover
	{
		background: #f00;
	}
	.sci li a .fa
{
	color: #fff;
	font-size: 20px;
}
.quicklinks
{
	position: relative;
	width: 25%;
}
.quicklinks ul li
{
	list-style: none;
}
.quicklinks ul li a
{
	color: #999;
	text-decoration: none;
	margin-bottom: 10px;
	display: inline-block;
}
.quicklinks ul li a:hover
{
	color: #fff;
}
.contact
{
	width: calc(35% - 60px);
	margin-right: 0 !important;
}
.contact .info
{
	position: relative;
}
.contact .info li
{
	display: flex;
	margin-bottom: 16px;
}
.contact .info li span:nth-child(1)
{
	color: #fff;
	font-size: 20px;
	margin-right: 10px;
}
.contact .info li span
{
	color: #999;
}
.contact .info  li a
{
	color: #999;
	text-decoration: none;
}
.contact .info li a:hover
{
	color: #fff;
}
.copyrighttext
{
	width: 100%;
	background: #181818;
	padding: 8px 100px;
	text-align: center;
	color: #999;
}
@media (max-width: 991px)
{
	footer
	{
		padding: 40px;
	}
	footer .container
	{
		flex-direction: column;
	}
	footer .container .sec
	{
		margin-right: 0;
		margin-bottom: 40px;
	}
	footer .container .sec.aboutus,
	.quicklinks,
	.contact 
	{
    width: 100%;
	}
	.copyrighttext
	{
		padding: 8px 40px;
	}
}
.heading{
  text-align: center;
  padding:1.5rem 0
}
.heading span{
  font-size: 37px;
  background:rgba(255, 165, 0,.2);
  color:red;
  border-radius: .5rem;
  padding:.2rem 1rem;
  font-weight: bold;
}